@charset "UTF-8";
@import '../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes check_margin {
  from {
    margin-right: -150px;
  }
  to {
    margin-right: 0px;
  }
}
@keyframes check_rotate {
  0% {
    transform: rotate(-360deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.content_loader {
  background: rgb(241, 241, 241);
  position: absolute;
  width: 100%;
  height: 100%;
  animation: background_loader 4s ease-in-out both;
}

.main_loader {
  z-index: 4;
  box-shadow: 0px 200px 16px black;
  /* POSITIONNEMENT*/
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*STYLE*/
  width: 50px;
  height: 3px;
  border-radius: 100%;
}

.loader {
  /* POSITIONNEMENT*/
  display: flex;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*STYLE*/
  box-shadow: 0px 1px 5px rgb(81, 80, 80);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /*ANIMATION*/
  animation: bounce_loader 0.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: 7;
}
.loader .fa-utensils {
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
}

@keyframes bounce_loader {
  0% {
    transform: translate3d(0, 0, 0);
    background-color: #9356DC;
    transform: scale(1.4);
  }
  50% {
    background-color: #FF79DA;
  }
  100% {
    transform: translate3d(0, 200px, 0);
    background-color: #99E2D0;
  }
}
@keyframes background_loader {
  0% {
    z-index: 4;
    opacity: 1;
  }
  30% {
    z-index: 4;
    opacity: 1;
  }
  70% {
    z-index: 4;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.location {
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
  padding: 0.8em 0em 0.8em 0em;
  font-size: 0.9em;
  color: rgb(64, 64, 64);
}

.location_city {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
}

/* CSS FOR RESTAURANT PAGE ONLY*/
header {
  background-color: #FDFDFD;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.9em 0em 0.5em 0em;
  margin-bottom: 3px;
  box-shadow: 1px 1px 8px rgb(178, 178, 178);
  /* CSS FOR RESTAURANT PAGE ONLY*/
}
.nav .nav_back_icon {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
  padding: 0% 40%;
}

/********************************/
.image_title {
  padding-left: 24%;
  width: 44%;
  height: auto;
}

footer {
  background-color: #444444;
  color: #FDFDFD;
  padding: 18px 1px 24px 18px;
  font-size: 0.8em;
}
@media screen and (min-width: 708px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
footer .h3_footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  padding-bottom: 10px;
  font-weight: 100;
}
footer div {
  line-height: 20px;
}
footer .fa-handshake-angle, footer .fa-utensils {
  padding-right: 8px;
}
footer .link_footer {
  outline: none;
  text-decoration: none;
  color: #FDFDFD;
  cursor: pointer;
}

.section_link_restaurant {
  text-decoration: none;
  color: black;
}

.main_section_1 {
  padding: 30px 0px;
}

.main_section_h1 {
  font-size: 1.3em;
  font-weight: 720;
  padding: 0px 0px 0px 15px;
}

/*Part Fonctionnement*/
.main_section_btn_fonctionnement {
  display: flex;
  background-color: #F6F6F6;
  margin: 20px auto;
  border-radius: 16px;
  box-shadow: 0px 8px 10px rgb(224, 223, 223);
  width: 86%;
  height: 60px;
  align-items: center;
}
.main_section_btn_fonctionnement .numéro_btn_fonctionnement {
  margin: -8px;
  color: #FDFDFD;
  background-color: #9356DC;
  border-radius: 80%;
  padding: 5px 7px 3px 7px;
  font-size: 0.7em;
}
.main_section_btn_fonctionnement .fa_btn_numéro {
  padding: 0px 20px;
  color: rgb(100, 100, 100);
}
.main_section_btn_fonctionnement .main_section_text {
  font-size: 0.8em;
  font-weight: 600;
}

/*Part Card*/
.main_section_2 {
  padding: 30px 0px;
}

.section_card_restaurant {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 20px auto;
  height: 210px;
  border-radius: 16px;
  box-shadow: 0px 8px 10px rgb(224, 223, 223);
}
.section_card_restaurant .card_new_img {
  z-index: 1;
  border-radius: 4%;
  background-color: #99E2D0;
  color: darkcyan;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 700;
  position: absolute;
  bottom: 110px;
  right: 10px;
}
.section_card_restaurant .card_restaurant_img {
  height: 145px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
}
.section_card_restaurant .card_restaurant_img img {
  object-fit: cover;
  width: 100%;
  height: 145px;
}
.section_card_restaurant .card_bloc_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  flex-direction: row-reverse;
}
.section_card_restaurant .card_bloc_text .card_name_restaurant {
  font-weight: 900;
  padding-bottom: 5px;
  font-size: 1.1em;
}
.section_card_restaurant .card_bloc_text::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.3em;
  padding-right: 5px;
  opacity: 1;
}
.section_card_restaurant .card_bloc_text::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.3em;
  padding-right: 5px;
  opacity: 1;
  opacity: 1;
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}
.section_card_restaurant .card_bloc_text:hover::after {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.main_article {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 3rem;
}
.main_article .main_article_h1 {
  font-size: 1.3em;
  font-weight: 720;
  padding: 20px 40px 0px 40px;
}
.main_article .main_article_h2 {
  font-size: 0.97em;
  color: rgb(100, 100, 100);
  font-weight: 400;
  margin-top: -3px;
  padding: 0px 20px 12px 20px;
}
.main_article .article_btn {
  border: none;
  border-radius: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  margin: auto;
  height: 40px;
  width: 190px;
  box-shadow: 1px 3px 8px rgb(178, 178, 178);
}
.main_article .span_article {
  font-size: 0.8em;
  font-weight: 440;
  letter-spacing: 0.4px;
  color: #F6F6F6;
}

.background-1 {
  background-color: #F6F6F6;
}

.main_restaurant {
  background-color: #F6F6F6;
  overflow: hidden;
  /*MENU RESTAURANT*/
}
.main_restaurant img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.main_restaurant .header_section_restaurant {
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
  margin-top: -56px;
  border: 1px solid #F6F6F6;
  border-radius: 35px 35px 0% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 12px 20px;
  padding-bottom: 0;
}
.main_restaurant .header_section_restaurant .main_restaurant_h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 560;
  font-size: 1.5em;
}
.main_restaurant .header_section_restaurant::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.3em;
  padding-right: 5px;
  opacity: 1;
}
.main_restaurant .header_section_restaurant::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 1.3em;
  padding-right: 5px;
  opacity: 1;
  opacity: 1;
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}
.main_restaurant .header_section_restaurant:hover::after {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}
.main_restaurant .main_section_restaurant {
  display: flex;
  flex-direction: column;
}
.main_restaurant .section_restaurant_h2 {
  animation: fadein 1s ease-in-out both;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  margin: 20px 0 20px 20px;
  padding: 0 10px 0 0;
  border-bottom: 3px solid #99E2D0;
  width: 20px;
}
.main_restaurant .section_restaurant_h2:nth-child(1) {
  animation-delay: 100ms;
}
.main_restaurant .section_restaurant_h2:nth-child(2) {
  animation-delay: 200ms;
}
.main_restaurant .section_restaurant_h2:nth-child(3) {
  animation-delay: 300ms;
}
.main_restaurant .section_restaurant_h2:nth-child(4) {
  animation-delay: 400ms;
}
.main_restaurant .section_restaurant_h2:nth-child(5) {
  animation-delay: 500ms;
}
.main_restaurant .section_restaurant_h2:nth-child(6) {
  animation-delay: 600ms;
}
.main_restaurant .section_restaurant_h2:nth-child(7) {
  animation-delay: 700ms;
}
.main_restaurant .section_restaurant_h2:nth-child(8) {
  animation-delay: 800ms;
}
.main_restaurant .section_restaurant_h2:nth-child(9) {
  animation-delay: 900ms;
}
.main_restaurant .section_restaurant_h2:nth-child(10) {
  animation-delay: 1000ms;
}
.main_restaurant .section_restaurant_h2:nth-child(11) {
  animation-delay: 1100ms;
}
.main_restaurant .section_restaurant_h2:nth-child(12) {
  animation-delay: 1200ms;
}
.main_restaurant .section_restaurant_h2:nth-child(13) {
  animation-delay: 1300ms;
}
.main_restaurant .section_restaurant_h2:nth-child(14) {
  animation-delay: 1400ms;
}
.main_restaurant .section_restaurant_h2:nth-child(15) {
  animation-delay: 1500ms;
}
.main_restaurant .section_restaurant_h2:nth-child(16) {
  animation-delay: 1600ms;
}
.main_restaurant .section_restaurant_h2:nth-child(17) {
  animation-delay: 1700ms;
}
.main_restaurant .section_restaurant_h2:nth-child(18) {
  animation-delay: 1800ms;
}
.main_restaurant .section_restaurant_h2:nth-child(19) {
  animation-delay: 1900ms;
}
.main_restaurant .section_restaurant_h2:nth-child(20) {
  animation-delay: 2000ms;
}
.main_restaurant .section_menu_restaurant {
  animation: fadein 1s ease-in-out both;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 8px 10px rgb(224, 223, 223);
  height: 50px;
  margin: 10px 10px;
  padding: 6px 0 6px 10px;
}
.main_restaurant .section_menu_restaurant:nth-child(1) {
  animation-delay: 100ms;
}
.main_restaurant .section_menu_restaurant:nth-child(2) {
  animation-delay: 200ms;
}
.main_restaurant .section_menu_restaurant:nth-child(3) {
  animation-delay: 300ms;
}
.main_restaurant .section_menu_restaurant:nth-child(4) {
  animation-delay: 400ms;
}
.main_restaurant .section_menu_restaurant:nth-child(5) {
  animation-delay: 500ms;
}
.main_restaurant .section_menu_restaurant:nth-child(6) {
  animation-delay: 600ms;
}
.main_restaurant .section_menu_restaurant:nth-child(7) {
  animation-delay: 700ms;
}
.main_restaurant .section_menu_restaurant:nth-child(8) {
  animation-delay: 800ms;
}
.main_restaurant .section_menu_restaurant:nth-child(9) {
  animation-delay: 900ms;
}
.main_restaurant .section_menu_restaurant:nth-child(10) {
  animation-delay: 1000ms;
}
.main_restaurant .section_menu_restaurant:nth-child(11) {
  animation-delay: 1100ms;
}
.main_restaurant .section_menu_restaurant:nth-child(12) {
  animation-delay: 1200ms;
}
.main_restaurant .section_menu_restaurant:nth-child(13) {
  animation-delay: 1300ms;
}
.main_restaurant .section_menu_restaurant:nth-child(14) {
  animation-delay: 1400ms;
}
.main_restaurant .section_menu_restaurant:nth-child(15) {
  animation-delay: 1500ms;
}
.main_restaurant .section_menu_restaurant:nth-child(16) {
  animation-delay: 1600ms;
}
.main_restaurant .section_menu_restaurant:nth-child(17) {
  animation-delay: 1700ms;
}
.main_restaurant .section_menu_restaurant:nth-child(18) {
  animation-delay: 1800ms;
}
.main_restaurant .section_menu_restaurant:nth-child(19) {
  animation-delay: 1900ms;
}
.main_restaurant .section_menu_restaurant:nth-child(20) {
  animation-delay: 2000ms;
}
.main_restaurant .section_menu_restaurant:hover .icone_animation_menu {
  animation-name: check_margin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.main_restaurant .section_menu_restaurant:hover .fa-circle-check {
  animation-name: check_rotate;
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
}
.main_restaurant .section_menu_restaurant .menu_name_description {
  overflow: hidden;
  width: 88%;
}
.main_restaurant .section_menu_restaurant .menu_name_description h4,
.main_restaurant .section_menu_restaurant .menu_name_description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 2px 0px;
}
.main_restaurant .section_menu_restaurant .menu_name_description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}
.main_restaurant .section_menu_restaurant .menu_cost_restaurant {
  font-size: 0.8em;
  font-weight: 800;
  padding-left: 2px;
  padding-top: 25px;
  width: 20%;
}
.main_restaurant .section_menu_restaurant .icone_animation_menu {
  background-color: #99E2D0;
  padding: 22px;
  margin-right: -150px;
  border-radius: 0 16px 16px 0;
}
.main_restaurant .section_menu_restaurant .icone_animation_menu .fa-circle-check {
  color: white;
}

.order_btn {
  border: none;
  border-radius: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  margin: auto;
  height: 40px;
  width: 150px;
  box-shadow: 1px 3px 8px rgb(178, 178, 178);
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}
.order_btn .text_order_btn {
  font-size: 0.8em;
  font-weight: 440;
  letter-spacing: 0.4px;
  color: #F6F6F6;
}

@media screen and (min-width: 1300px) {
  .body_annexe_restaurant {
    margin: 0 300px;
    background-image: url(./assets/background/pexels-ella-olsson-1640777.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 908px) {
  .main_section_btn_media {
    display: flex;
    width: 92%;
    margin: auto;
  }
  .main_section_btn_fonctionnement {
    margin: 0 20px;
  }
  .restaurant_media {
    display: flex;
    margin: auto;
    width: 92%;
  }
  .restaurant_media .section_card_restaurant {
    margin: 20px 20px;
  }
}
@media screen and (min-width: 708px) {
  .menu_name_description {
    padding-right: 25%;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.btn:hover {
  filter: brightness(1.1);
  cursor: pointer;
  box-shadow: 4px 5px 10px rgb(173, 173, 173);
  transition-duration: 300ms;
}

.main_section_btn_fonctionnement:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.main_section_btn_fonctionnement:hover .fa_btn_numéro {
  color: #9356DC;
}

* {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
