header{
    background-color: $background-primary;
}
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0.9em 0em 0.5em 0em;
    margin-bottom: 3px;
    box-shadow:1px 1px 8px rgb(178, 178, 178);
    
/* CSS FOR RESTAURANT PAGE ONLY*/

    .nav_back_icon{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 900;
        padding: 0% 40%
    }
}
/********************************/
.image_title{
    padding-left: 24%;
    width: 44%;
    height: auto;
}



