// header restaurant //

.main_restaurant {
    background-color: $background-secondary;

    img {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }

    .header_section_restaurant {
        @include restaurant_title_heart;
        padding-bottom: 0;

        &::before {
            @include heart_icon;
            font-size: 22px;
        }
    }

    /*MENU RESTAURANT*/

    .section_restaurant_h2 {
        animation: fadein 1s ease-in-out both;
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 100ms;
            }
        }

        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9em;
        margin: 20px 0 20px 20px;
        padding: 0 10px 0 0;
        border-bottom: 3px solid $color-tertiary;
        width: 20px;
    }
    .section_menu_restaurant {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 100ms;
            }
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        border-radius: 16px;
        box-shadow: $box-shadow;
        height: 50px;
        margin: 10px 10px;
        padding: 6px 0 6px 10px;

        animation: fadein 1s ease-in-out both;

        &:hover {
            & .icone_animation_menu {
                animation-name: check_margin;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                transition-timing-function: ease-in-out;
            }
            & .fa-circle-check {
                animation-name: check_rotate;
                animation-duration: 1.1s;
                animation-fill-mode: forwards;
                transition-timing-function: ease-in;
            }
        }

        .menu_name_description {
            overflow: hidden;

            width: 88%;

            h4,
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
                padding: 2px 0px;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 0.8em;
            }
        }

        .menu_cost_restaurant {
            font-size: 0.8em;
            font-weight: 800;
            padding-left: 2px;
            padding-top: 25px;
            width: 20%;
        }

        .icone_animation_menu {
            background-color: $color-tertiary;
            padding: 22px;
            margin-right: -150px;
            border-radius: 0 16px 16px 0;

            .fa-circle-check {
                color: white;
            }
        }
    }
}

.order_btn {
    @include btn-primary;
    height: 40px;
    width: 150px;
    box-shadow: 1px 3px 8px rgb(178, 178, 178);
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    
    .text_order_btn{
        font-size: 0.8em;
        font-weight: 440;
        letter-spacing: 0.4px;
        color: $background-secondary;    }
}